<app-loader></app-loader>
<div [hidden]=!display class="main-div2">

     <h2>Select the version to be uploaded</h2>
  <mat-form-field>
    <mat-label style="width: 1000px;">Select the version to be uploaded</mat-label>
    <mat-select  placeholder="Select the version" [(ngModel)]="selectedFood2" (ngModelChange)="onFoodSelection2()">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{ food.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
 
</div>
<div [hidden]=!show class="main-div">
<mat-card>
   <mat-card-content>
    <button mat-raised-button color="primary" (click)="toggle()" style="width :10em;margin-left: 25%;">
      <mat-icon>desktop_mac</mat-icon>
      {{buttonName}}
  </button>
    <mat-tab-group #tabs [selectedIndex]="selectedIndex" animationDuration="1500ms" (selectedTabChange)="onLinkClick($event)">
      <mat-tab >
      <ng-template mat-tab-label>
        <mat-icon>account_balance</mat-icon> &nbsp;
   Balance Sheet </ng-template>
 <div id="temp">
    <form [formGroup] = "uploadForm">      
      <mat-card-subtitle class="subtitle-center">Upload the  Balance sheet in xlsx format</mat-card-subtitle>
      <div>
        <input #fileInput type="file" name="profile"  (click)="fileInput.value = null" value="" (change)="onFileSelect($event)" /> 
      </div>  
    </form>
  </div>
    </mat-tab>
    <mat-tab  #tab [disabled]='!tab.isActive'>
      <ng-template mat-tab-label>
        <mat-icon>cloud_upload</mat-icon> &nbsp;
      Upload Account List</ng-template>
      <div id="temp">
        <form [formGroup] = "uploadForm">      
          <mat-card-subtitle class="subtitle-center">Upload the  Account list in xlsx format</mat-card-subtitle>
          <div>
            <input #fileInput2 type="file" name="profile" (click)="fileInput2.value = null" value="" (change)="onFileSelect($event)" /> 
          </div>  
        </form>
      </div>
    
    </mat-tab>
    </mat-tab-group> 
</mat-card-content> 
</mat-card>
</div>
 <div>
      <div  [hidden]=!validation id="temp3">
      <div id="temphead">   <mat-toolbar color="primary"><mat-toolbar-row>	<mat-icon>warning</mat-icon> <span>ERROR</span> <span class="example-spacer"></span></mat-toolbar-row> </mat-toolbar> </div>
      <h4>Please upload Balance sheet in Balance sheet tab</h4>
      <button mat-raised-button color="primary" (click)="reset()">OK</button>
      </div>
   </div>
   <div>
    <div  [hidden]=!error id="temp3">
    <div id="temphead">   <mat-toolbar color="warn"><mat-toolbar-row>	<mat-icon>error_outline</mat-icon> <span>ERROR</span> <span class="example-spacer"></span></mat-toolbar-row> </mat-toolbar> </div>
    <h4>File upload failed please upload the file again</h4>
    <button mat-raised-button color="warn" (click)="reset()">OK</button>
    </div>
 </div>
<app-new-display-vendor-list *ngIf="front"></app-new-display-vendor-list> 