<form>
    
  <mat-form-field>
  <mat-label>Enter vendor name</mat-label> 
  <input  matInput  placeholder="Vendor" [(ngModel)]="vendor"  type="text" name="vendor" autocomplete="off" (ngModelChange)="changedescription()" ng-trim="false"> 
  </mat-form-field>
  &nbsp; &nbsp;
  <mat-form-field>
    <mat-select placeholder="Select Account name " name="exam_title" [(ngModel)]="accountnames" >
      <input (keyup)="onKey($event.target.value)">  
      <mat-option *ngFor="let degreeTitle of accountlistnames" [value]="degreeTitle">{{ degreeTitle }}</mat-option>
    </mat-select>
  </mat-form-field>
   &nbsp; &nbsp;
  <mat-form-field>
    <mat-label>Enter Description</mat-label> 
  <input  matInput  placeholder="Description" [(ngModel)]="description" autocomplete="off"  type="text" name="description" (ngModelChange)="updatedescription()" ng-trim="false">
</mat-form-field> &nbsp; &nbsp;
<!--  &nbsp; &nbsp; -->
    <button button mat-raised-button color="primary" class="btn btn-common" (click)="applyDescription()">
    Update </button> &nbsp; &nbsp;
    <!-- <button button mat-raised-button color="primary" class="btn btn-common" (click)="updateRecords()">
        Update </button> &nbsp; &nbsp; -->
        <button button mat-raised-button color="warn" class="btn btn-common" (click)="cancelonDescription()">
          Revert Changes with Validation Message </button>
</form>
<div >
    <h4>Total Number of Records according to description are : {{Records}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    Updated Vendor and Account Names: {{UpdatedRecord}} </h4>
    <table mat-table MatSort [dataSource]="dataSource" #table class="table">

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:100px"> Date </th>
          <td mat-cell *matCellDef="let rowObj"> {{rowObj.date}} </td>
        </ng-container>
  
  
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description </th>
          <td mat-cell *matCellDef="let rowObj"> {{rowObj.description}} </td>
        </ng-container>
  
  
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount </th>
          <td mat-cell *matCellDef="let rowObj"> {{rowObj.amount}} </td>
        </ng-container>
  
  
        <ng-container matColumnDef="vendor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:300px;text-align: center">Vendor </th>
          <td mat-cell *matCellDef="let rowObj" > {{rowObj.vendor}} </td>
        </ng-container>
  
        <ng-container matColumnDef="account">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:250px;text-align: center">Account </th>
          <td mat-cell *matCellDef="let rowObj">
              {{rowObj.account}}
          </td>
        </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5,10,15,20]" showFirstLastButtons>
      </mat-paginator>
</div>

<div>
  <button button mat-raised-button color="warn" class="btn btn-common" (click)="closecompletedialogbox()" style="margin-left: 45%;">
    Close </button>
</div>