<!-- <form>
<p>
    <mat-toolbar color="primary">
      <span>Select the version to be uploaded</span>
    </mat-toolbar>
  </p>
   <mat-form-field>
  <mat-select placeholder="Favorite food" [(ngModel)]="selectedFood2" (ngModelChange)="onFoodSelection2()">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{ food.viewValue }}
    </mat-option>
  </mat-select>
  </mat-form-field>
 
</form>
    <button mat-raised-button color="primary">Submit</button>
   -->


   <!-- <mat-toolbar color="primary">
    choose the version to upload the file
  </mat-toolbar>
<br>
<br>

   -->
  <mat-form-field>
    <mat-select placeholder="Select the version" [(ngModel)]="selectedFood2" (ngModelChange)="onFoodSelection2()">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{ food.viewValue }}
      </mat-option>
    </mat-select>
    
  </mat-form-field>

  <!--
  Copyright Google LLC All Rights Reserved.
  
  Use of this source code is governed by an MIT-style license that can be
  found in the LICENSE file at https://angular.io/license
  -->