
  <div>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Select Account name" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn" (optionSelected)="onSelectionChanged($event)"> 
          <mat-option *ngFor="let option of filteredOpis$ | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <form>
      <mat-form-field>
      <mat-label>Enter Sales Starting Number</mat-label> 
      <input  matInput  placeholder="Enter Opening Balance" [(ngModel)]="sales"  type="text" name="Sales" >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter Expense Starting Number</mat-label> 
        <input  matInput  placeholder="Enter Opening Balance" [(ngModel)]="expense"  type="text" name="expense" >
        </mat-form-field>
      </form>
</div>
<div>
  <button mat-raised-button color="primary"  style="width :10em;margin-left: 25%" (click)="submit()">
    
    submit
</button>
<button mat-raised-button color="primary"  style="width :10em;margin-left: 25%" (click)="viewSales()">
    
  view Sales
</button>
<button mat-raised-button color="primary"  style="width :10em;margin-left: 25%" (click)="viewExpense()">
    
  view Expense
</button>
<app-displaysales-expense *ngIf="front"> </app-displaysales-expense>
<app-display-expense *ngIf="back"></app-display-expense>
</div>