
  <div class="main-div2">
    <form>
      <mat-form-field>
      <mat-label>Enter Sales Reff Starting Number</mat-label> 
      <input  matInput  placeholder="Enter Opening Balance" [(ngModel)]="sales"   name="Sales" (ngModelChange)="test()" autocomplete="off">
      </mat-form-field> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <mat-form-field>
        <mat-label>Enter Expense Starting Number</mat-label> 
        <input  matInput  placeholder="Enter Opening Balance" [(ngModel)]="expense"  type="text" name="expense" autocomplete="off" >
        </mat-form-field> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        <mat-form-field>
          <mat-select placeholder="Select Bank name " name="exam_title" [(ngModel)]="accountnames">
            <mat-option *ngFor="let degreeTitle of accountlistnames" [value]="degreeTitle">{{ degreeTitle }}</mat-option>
          </mat-select>
        </mat-form-field> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <button mat-raised-button color="primary"  style="width :10em" (click)="submit()">
    
          submit
      </button> 
      
      </form>

<div *ngIf="displaybutton">
<button mat-raised-button color="primary"  style="width :10em;margin-left: 25%" (click)="viewSales()">
    
  view Sales
</button>
<button mat-raised-button color="primary"  style="width :10em;margin-left: 25%" (click)="viewExpense()">
    
  view Expense
</button>
<button mat-raised-button color="primary"  style="width :10em;margin-left: 25%" (click)="reload()">
    
Start Again
</button>
</div>
</div>
<app-displaysales-expense *ngIf="front"> </app-displaysales-expense>
<app-display-expense *ngIf="back"></app-display-expense>
