#temp3{

    font-size: 1em;
    text-align: center;
    }
    .mat-icon {
      margin-left: 25%;
    }
    #temp4{
      margin-left:40%;
    }
    h2 {
      display: flex;
      justify-content: center;
    }