.mat-cell{
    font-size:12px;
    font-family: Verdana,Sans-Serif;
    display: table-cell;
    height: 48px;
    vertical-align: middle;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    }