.container {
    position: absolute;
    width: 500px;
    height: 100px;
     top:40% ;
     bottom: 60%; 
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid black;
  }

  .form-group
  {
    position: absolute;
   
     top:50% ;
     bottom: 50%; 
    left: 20%;
    right: 0;
    margin: auto;

  }