.mat-cell{
  font-size:12px;
  font-family: Verdana,Sans-Serif;
  display: table-cell;
  height: 48px;
  vertical-align: middle;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  }
  #temp3{
    height: 175px;
    margin-left: 41%;
  width:350px;
  border: 1px solid #000;
  
  font-size: 1em;
  text-align: center;
  }
  .mat-icon {
    margin-left: 25%;
  }
  #temp4{
    margin-left:40%;
  }
  h2 {
    display: flex;
    justify-content: center;
  }