
<div  class="container">
    <h2> Cleaned Bank Statement</h2>
    <div class="mat-elevation-z8">
      
     <mat-form-field class="filter">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
    
          <button mat-icon-button (click)="downloaddataExcel()" style="margin-left: 60%;"> Download Excel
            <mat-icon>cloud_download</mat-icon>
  
          </button>
     
      <table mat-table MatSort [dataSource]="dataSource" #table class="table">
  
        <ng-container matColumnDef="date" >
           <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:100px" > Date </th>
           <td mat-cell *matCellDef="let rowObj"> {{rowObj.date}} </td>
         </ng-container>
  
       
         <ng-container matColumnDef="description" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description </th>
            <td mat-cell *matCellDef="let rowObj"> {{rowObj.description}} </td>
         </ng-container>
  
        
        <ng-container matColumnDef="amount" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount </th>
              <td mat-cell *matCellDef="let rowObj"> {{rowObj.amount}} </td>
         </ng-container>
         
 
          <ng-container matColumnDef="vendor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:300px">Vendor </th>
            <td mat-cell *matCellDef="let rowObj"> {{rowObj.vendor}} </td>
       </ng-container>

         <ng-container matColumnDef="account">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:250px">Account </th>
            <td mat-cell *matCellDef="let rowObj"> 
              <editable (update)="updateField(index, 'symbol')">
              {{rowObj.account}}
            </editable>
             </td>
       </ng-container>
       <ng-container matColumnDef="displaypopup">
        <th mat-header-cell *matHeaderCellDef> Pop Up </th>
        <td mat-cell *matCellDef="let element">
           <button mat-icon-button color="primary" (click)="deleteItem(element)" aria-label="Example icon button with a home icon">
            <mat-icon>launch</mat-icon>
          </button>
        </td>
      </ng-container>
       <ng-container matColumnDef="Flag">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Flag </th>
          <td mat-cell *matCellDef="let rowObj"> {{rowObj.flag}} </td>
     </ng-container>
    <!-- <ng-container matColumnDef="editRow">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element">
         <button mat-icon-button color="primary" (click)="row.startEdit()" aria-label="Example icon button with a home icon">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container> -->
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator  #paginator [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[25,50,75,100]" showFirstLastButtons></mat-paginator>
      
    </div> 
    <div id="temp4">
      <button  button mat-raised-button color="primary" class="btn btn-common" (click)="submit()">Save</button> &nbsp; &nbsp;
      <button  *ngIf="buttonDisabled" button mat-raised-button color="primary" class="btn btn-common" (click)="test()"> View new vendor list </button>
  </div>
    <div  [hidden]=!validation id="temp3">
        <div id="temphead">  
        <mat-toolbar color="warn">
          <mat-toolbar-row>	<mat-icon>warning</mat-icon> 
            <span>ERROR</span> 
            <span class="example-spacer"></span>
          </mat-toolbar-row> </mat-toolbar>
         </div>
        <h4>Some records of vendor and account are blank</h4>
        <button mat-raised-button color="warn" (click)="reset()">OK</button>
        </div>
    <app-display-new-vendors *ngIf="displayVendorComponent"></app-display-new-vendors>  
<app-autocomplete-popup *ngIf="loadComponent"></app-autocomplete-popup>
        

