<ng-template #tpl let-row>
  <div class="mat-row-detail-row" style="overflow: hidden">
    {{row.Obj | json}}
  </div>
</ng-template>
<div  class="container">
    <h2> Cleaned Bank Statement</h2>
    <div class="mat-elevation-z8">
      
     <mat-form-field class="filter">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
    
     
      <table mat-table MatSort [dataSource]="dataSource" #table class="table">
  
        <ng-container matColumnDef="date">
           <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
           <td mat-cell *matCellDef="let rowObj"> {{rowObj.date}} </td>
         </ng-container>
  
       
         <ng-container matColumnDef="description" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description </th>
            <td mat-cell *matCellDef="let rowObj"> {{rowObj.description}} </td>
         </ng-container>
  
        
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount </th>
              <td mat-cell *matCellDef="let rowObj"> {{rowObj.amount}} </td>
         </ng-container>
         
         <ng-container matColumnDef="vendor">
           <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendor</th>
           <td mat-cell>
            <mat-cell *matCellDef="let row">
              <mat-form-field  floatLabel="never" >
<input name="{{row.vendor}}" #instate value="{{row.vendor}}"  [matAutocomplete]="auto" matInput type="text" [ngModel]="row.vendor" [ngModelOptions]="{updateOn: 'blur'}"(ngModelChange) ="onNamengModelDataChanged($event, row); row.ObjStatus$.next(objStatus.Modified);" matInput (input)="stateInputChange$.next(instate.value)"  >    
<mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn"  > 
  <mat-option *ngFor="let testing of filteredOpis$ | async " [value]="testing" >
  <span [innerHTML]='testing.name'></span>
  </mat-option>
</mat-autocomplete>
            </mat-form-field>
            </mat-cell>
           </td>
         </ng-container>

         <ng-container matColumnDef="account">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Account </th>
            <td mat-cell *matCellDef="let rowObj"> {{rowObj.account}} </td>
       </ng-container>

       <ng-container matColumnDef="flag">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Flag </th>
          <td mat-cell *matCellDef="let rowObj"> {{rowObj.flag}} </td>
     </ng-container>

  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator  #paginator [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[25,50,75,100]" showFirstLastButtons></mat-paginator>
    </div> 
  