#temp3{
  
   
  
  /* border: 1px solid #000; */
  
  font-size: 1em;
  text-align: center;
  }
  .mat-icon {
    margin-left: 35%;
  }
  #temp4{
    margin-left:40%;
  }
  h2 {
    display: flex;
    justify-content: center;
  }